/* 
    Document   : newCascadeStyleSheet
    Created on : Apr 20, 2013, 3:23:42 PM
    Author     : Adi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

